<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wish/css/mycss.css' %}"/>
</head>

<body>
    <button><a href="{% url 'main' %}">Home</a></button>
    <button><a href="{% url 'logout' %}">Logout</a></button>
    <div class="wrapper">
    <h1>Create a New Wish List Item</h1>
    <p>Item/Product:</p>

    <form action="{% url 'create_wish' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="description">
        <button type="submit">Add</button>
    </form>
    </div>
</body>

</html>